<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            background-image: url('https://lt2.pigugroup.eu/colours/602/839/14/60283914/pabusk-treniruote-pabusk-treniruote-sporto-sale-namu-dbd41_reference.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
<nav class="navbar">
    <ul class="navbar-menu">
        <li><a href="{{ url_for('trainers') }}">Treneriai</a></li>
        <li><a href="{{ url_for('schedule') }}">Tvarkaraštis</a></li>
        <li><a href="{{ url_for('clients') }}">Klientai</a></li>
        <li><a href="{{ url_for('readme') }}">Readme</a></li>
        <li><a href="{{ url_for('memberships') }}">Naryste</a></li>
    </ul>
</nav>

{% block content %}{% endblock %}

<footer>
    <p>© 2024 Gym Management System</p>
</footer>
</body>
</html>
