<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jūsų Tinklalapis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="background">
    <!-- Kitas turinys -->
</div>

<!-- Jei naudojate <img> tagą -->
<img src="https://lt2.pigugroup.eu/colours/602/839/14/60283914/pabusk-treniruote-pabusk-treniruote-sporto-sale-namu-dbd41_reference.jpg" class="custom-image" alt="Treniruotės nuotrauka">
</body>
</html>
