{% extends 'layouts/base.html' %}

{% block title %}Readme{% endblock %}

{% block content %}
<h1>Readme</h1>
<p>Šiame dokumente pateikiama informacija apie sistemą, kaip ją naudoti ir kaip ją administruoti.</p>

<h2>1. Įvadas</h2>
<p>Ši sistema skirta sporto salių valdymui, leidžianti administruoti trenerius, klientus, tvarkaraščius ir narystės planus.</p>

<h2>2. Naudojimas</h2>
<p>Naudojant šią sistemą galite:</p>
<ul>
    <li>Pridėti ir redaguoti trenerius.</li>
    <li>Peržiūrėti ir redaguoti tvarkaraščius.</li>
    <li>Valdyti klientų sąrašą ir jų narystės planus.</li>
    <li>Įsigyti grupines treniruotes.</li>
</ul>

<h2>3. Kontaktai</h2>
<p>Jeigu turite klausimų arba reikia pagalbos, susisiekite su mumis:</p>
<p>Email: arnoldasvaitkevicius@mail.com</p>
{% endblock %}
