prasau prides prie Sio kodo  back mygtuka ir home mygtuka:{% extends 'layouts/base.html' %}

{% block title %}Add Membership{% endblock %}

{% block content %}
<h2>Add Membership</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.membership_type.label }}<br>
        {{ form.membership_type(size=32) }}<br>
        {% for error in form.membership_type.errors %}
        <span class="error">{{ error }}</span><br>
        {% endfor %}
    </p>
    <p>
        {{ form.price.label }}<br>
        {{ form.price(size=32) }}<br>
        {% for error in form.price.errors %}
        <span class="error">{{ error }}</span><br>
        {% endfor %}
    </p>
    <p>
        {{ form.membership_name.label }}<br>
        {{ form.membership_name(size=32) }}<br>
        {% for error in form.membership_name.errors %}
        <span class="error">{{ error }}</span><br>
        {% endfor %}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>
{% endblock %}
